<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Blogsite!</h1>
    <p>Diverse blogs for diverse people</p>
    <p><a class="btn btn-primary btn-lg" href="/blogs" role="button">Blogs</a></p>
  </div>
</div>
